.InformationBox {
  width: 100%;
  // height: 200vh;
  margin-top: 30vh;
  margin-bottom: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &_bigTitle {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10vh;
    font-weight: 700;
  }
  &_title {
    background-color: $blue_middle;
    color: $white;
    font-size: 24px;
    font-weight: 700;
    height: 64px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_firstBox {
    width: 704px;
    height: 256px;
    border: 1px solid $background;
    margin-bottom: 50px;

    .imgContent {
      height: 192px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      &_leftChild {
        height: 150px;
        width: 150px;
      }
      &_rightChild {
        text-align: right;
        font-size: 22.25px;
        font-weight: 600;
        line-height: 35px;
        &_blue {
          color: $blue_main;
          font-weight: 700;
        }
      }
    }
  }

  &_secondBox {
    width: 704px;
    height: 415px;
    border: 1px solid $background;

    &_content {
      height: 351px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 10px;
      padding-right: 10px;

      .dangerContentFirst {
        font-size: 22.25px;
        font-weight: 600;

        &_colorChange {
          color: $blue_main;
          font-weight: 700;
        }
      }
      .dangerContentSecond {
        font-size: 19.25px;
        line-height: 30px;
      }
      .dangerContentThird {
        font-size: 16px;
        line-height: 25px;
      }
      .dangerContentBottom {
        font-size: 22px;
        border-top: 1px solid $background;
        font-weight: 600;
        padding-top: 30px;

        &_colorChange {
          color: $blue_main;
          font-weight: 700;
        }
      }
    }
  }
}

// 반응형
@include responsive(T) {
  .InformationBox {
    &_firstBox {
      width: 600px;

      .imgContent {
        &_rightChild {
          font-size: 20px;
          &_leftChild {
            height: 80px;
            width: 80px;
          }
        }
      }
    }

    &_secondBox {
      width: 600px;
      .dangerContentFirst {
        font-size: 20px;
      }
      .dangerContentSecond {
        font-size: 17px;
      }

      .dangerContentThird {
        font-size: 14px;
      }
      .dangerContentBottom {
        font-size: 18.5px;
      }
    }
  }
}

// 반응형 2
// @include responsive(M) {
//   .InformationBox {
//     &_bigTitle {
//       font-size: 24px;
//     }
//     &_title {
//       font-size: 22px;
//     }

//     &_firstBox {
//       width: 517px;

//       .imgContent {
//         &_leftChild {
//           height: 100px;
//           width: 100px;
//         }
//         &_rightChild {
//           font-size: 19px;
//         }
//       }
//     }

//     &_secondBox {
//       width: 517px;
//       .dangerContentFirst {
//         font-size: 19px;
//       }
//       .dangerContentSecond {
//         font-size: 16px;
//       }

//       .dangerContentThird {
//         font-size: 13.25px;
//       }
//       .dangerContentBottom {
//         font-size: 16.25px;
//       }
//     }
//   }
// }

// 반응형 375
@include responsive(M) {
  .InformationBox {
    &_bigTitle {
      font-size: 22px;
      line-height: 1.5;
      &_br {
        display: block;
      }
    }
    &_title {
      font-size: 18px;
      height: 45px;
    }

    &_firstBox {
      width: 320px;
      height: 170px;

      .imgContent {
        height: 125px;

        &_leftChild {
          display: none;
        }
        &_rightChild {
          font-size: 16px;
        }
      }
    }

    &_secondBox {
      width: 320px;
      height: 550px;

      &_content {
        height: 505px;

        .dangerContentFirst {
          font-size: 18px;
          line-height: 1.5;

          &_br {
            display: block;
          }
        }
        .dangerContentSecond {
          font-size: 16px;
          &_br {
            display: block;
          }
        }

        .dangerContentThird {
          font-size: 14px;
          &_br {
            display: block;
          }
          &_hide {
            display: none;
          }
        }
        .dangerContentBottom {
          font-size: 18px;
          padding-top: 20px;

          &_br {
            display: block;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
