.Airquant_Main {
  width: 100%;
  margin-bottom: 25vh;

  .Airquant_Main_Dots {
    font-size: 130px;
    color: $blue_main;
    position: relative;
    display: inline;
    left: 48.95%;
  }
  .Airquant_Main_Content1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 50px;
  }
  .Airquant_Main_title {
    color: $blue_main;
  }
  //
  .Airquant_Flex_Container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Airquant_img_first {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Airquant_img_second {
    display: flex;
  }
  .Airquant_img_third {
    display: flex;

    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .Airquant_Main1 {
    width: 1250px;
    height: 650px;
    margin-left: -200px;
    object-fit: cover;
  }
  .Airquant_Main2 {
    width: 380px;
    height: 380px;
    margin-left: -250px;
    margin-top: 400px;
  }
  .Airquant_Main3 {
    width: 468px;
    height: 307px;
    margin-bottom: 40px;
  }
  .Airquant_Main4 {
    width: 320px;
    height: 320px;
    margin-right: 40px;
  }
  .Airquant_Main5 {
    width: 320px;
    height: 320px;
    margin-right: 40px;
  }
  .Airquant_Main6 {
    width: 320px;
    height: 320px;
  }
  @include responsive(T) {
    .Airquant_Main_Content {
      margin-bottom: -80px;
    }
    .Airquant_Main_Dots {
      font-size: 130px;
      color: $blue_main;
      position: relative;
      display: inline;
      left: 48.35%;
    }
    .Airquant_Main1 {
      width: 750px;
      height: 360px;
      margin-left: -200px;
      object-fit: cover;
    }
    .Airquant_Main2 {
      width: 300px;
      height: 300px;
      margin-left: -200px;
      margin-top: 400px;
    }
    .Airquant_Main3 {
      width: 300px;
      height: 180px;

      margin-bottom: 40px;
    }
    .Airquant_Main4 {
      width: 200px;
      height: 200px;
      margin-right: 40px;
    }
    .Airquant_Main5 {
      width: 200px;
      height: 200px;
      margin-right: 40px;
    }
    .Airquant_Main6 {
      width: 200px;
      height: 200px;
    }
  }
  @include responsive(M) {
    .Airquant_Main_Dots {
      font-size: 130px;
      color: $blue_main;
      position: relative;
      display: inline;
      left: 47.3%;
    }
    .Airquant_Main1 {
      width: 600px;
      height: 300px;
      margin-left: -200px;
      object-fit: cover;
    }
    .Airquant_Main2 {
      width: 200px;
      height: 200px;
      margin-left: -150px;
      margin-top: 400px;
    }
    .Airquant_Main3 {
      width: 290px;
      height: 170px;
      margin-bottom: 40px;
    }
    .Airquant_Main4 {
      width: 150px;
      height: 150px;
      margin-right: 40px;
    }
    .Airquant_Main5 {
      width: 150px;
      height: 150px;
      margin-right: 40px;
    }
    .Airquant_Main6 {
      width: 150px;
      height: 150px;
    }
  }
}
