.AirTable__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;

    .AirTable__Contents {
        margin: 15% 0 3% 0;
        font-size: 2.5rem;
        font-weight: 600;
    }

    .AirTable__Table {
        margin-bottom: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        
        .AirTable__Table_In {
            height: 350px;
            border-collapse: collapse;
            border-bottom: 2px solid $blue_middle;
            table-layout: fixed;
            
            .AirTable__Thead__tr {
                height: 50px;
                background-color: $blue_middle;
                color: white;
                font-size: 1.2rem;
                
            }

            tr td {
                border-bottom: 1px solid $background;
                padding: 15px;
                text-align: center;
            }

            .AirTable__Tbody_tr {
                background-color: $blue_bright;
            }
        }
    }
}