.Product__ {
  &Graph__Main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    width: 100%;
    // height: 150vh;
    padding-top: 30vh;
  }

  &p_text_Main {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 10px;
    padding-bottom: 60px;
    line-height: 1.5;

    &_small {
      font-size: 14px;
      padding-bottom: 22px;
      font-weight: 700;
      color: $blue_main;
    }
  }

  &p_text_inhauniv {
    color: $border;
    // margin-left: 500px;
  }

  // .Product__In_Graph {
  //   width: 500px;
  //   height: 300px;
  // }

  &div_text_health {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 80%;
    margin-top: 50px;

    font-size: 2.5rem;
    font-weight: 700;

    color: $blue_main;
    // background-color: $blue_main;
    height: 50px;
  }
}

// 반응형 768px
@include responsive(T) {
  .Product__ {
    &p_text_inhauniv {
      font-size: 1rem;
      // margin-left: 300px;
    }
    &div_text_health {
      font-size: 1.7rem;
    }
  }
}

// 반응형 768px 이하일때
@include responsive(M) {
  .Product__ {
    &p_text_Main {
      font-size: 1.5rem;
      // margin-left: 300px;
    }
    &div_text_health {
      font-size: 1.25rem;
    }
  }
}
