.Piquant_container {
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  justify-content: center;

  .Piquant_container_spot {
    margin-top: 100px;
  }
  .Piquant_container_spot1 {
    font-size: 200px;
    font-family: cursive;
    color: $blue_light;
    position: relative;
    text-align: center;
    display: inline;
    margin-right: 1000px;
    top: 30%;
  }
  .Piquant_container_spot2 {
    font-size: 200px;
    font-family: cursive;
    color: $blue_light;
    display: inline;
    text-align: center;
    position: relative;
    margin-left: 1000px;
    bottom: -3%;
  }
  .Piquant_container1 {
    text-align: center;
  }
  .Piquant_num1 {
    position: relative;
    font-size: 28px;
    line-height: 2;
  }
  .Piquant_num2 {
    font-size: 24px;
    line-height: 1.8;
    margin-top: 50px;
  }
  .AirQuant {
    color: #1b76ff;
    font-weight: bold;
  }
  .blue1,
  .blue2 {
    background: #deebff;
  }

  @include responsive(T) {
    .Piquant_num1 {
      font-size: 19px;
    }
    .Piquant_num2 {
      font-size: 18px;
    }
    .Piquant_container_spot1 {
      font-size: 185px;
      font-family: cursive;
      color: $blue_light;
      position: relative;
      display: inline;
      margin-right: 800px;
      top: 30%;
    }
    .Piquant_container_spot2 {
      font-size: 185px;
      font-family: cursive;
      color: $blue_light;
      display: inline;
      position: relative;
      margin-left: 74%;
      bottom: -3%;
    }
  }
  @include responsive(M) {
    .Piquant_num1 {
      font-size: 12.5px;
    }
    .Piquant_num2 {
      font-size: 11px;
    }
    .Piquant_container_spot1 {
      font-size: 150px;
      font-family: cursive;
      color: $blue_light;
      position: relative;
      display: inline;
      margin-right: 90%;
      top: 25%;
    }
    .Piquant_container_spot2 {
      font-size: 150px;
      font-family: cursive;
      color: $blue_light;
      display: inline;
      position: relative;
      margin-left: 78%;
      bottom: -2%;
    }
  }
}
