.ProductBlueBox {
  height: 100vh;
  display: flex;
  align-items: center;

  // 스크롤 시 배경
  &_backGround {
    width: 100%;
    height: 100vh;
    //   height: 214px;
    background-color: $blue_main;
    display: flex;
    justify-content: center;
    align-items: center;

    // 스크롤 시 이벤트 나타나는 시간
    transition: 2s;

    // 스크롤 시 내용
    &_Scrolledcontent {
      color: white;
      font-size: 2rem;
      text-align: center;
      line-height: 85px;
      transition: 1.25s;

      .ProductBlueBox_bold {
        //   text-decoration: underline;
        font-weight: 700;
        box-shadow: inset 0 -5px 0 $white;
        font-size: 70px;
        font-size: 4rem;

        // transform: scale(3);
        transition: all 1.25s ease-in-out;
      }
    }
    //스크롤 전 내용
    &_content {
      color: white;
      font-size: 26px;
      text-align: center;
      line-height: 47px;
      transition: 1.25s;

      .ProductBlueBox_bold {
        //   text-decoration: underline;
        font-size: 2rem;
        font-weight: 500;
        box-shadow: inset 0 -2px 0 $white;
        transition: all 1.25s ease-in-out;
      }
    }
  }

  // 스크롤 전 배경
  &_ScrolledbackGround {
    width: 100%;
    height: 30vh;
    //   height: 214px;
    background-color: $blue_main;
    display: flex;
    justify-content: center;
    align-items: center;

    // 이벤트 사라지는 시간
    transition: 1.5s;
    animation-duration: 5s;
  }
}
