.Piquant_container {
  width: 100%;
  height: 80vh;
  flex-direction: column;
  justify-content: center;

  .Piquant_container_spot {
    margin-top: 100px;
  }
  .Piquant_container_spot1 {
    font-size: 130px;
    font-family: cursive;
    color: $blue_light;
    display: inline;
    position: relative;
    right: 0%;
    top: 30%;
  }
  .Piquant_container_spot2 {
    font-size: 130px;
    font-family: cursive;
    color: $blue_light;
    display: inline;
    position: relative;
    left: 24%;
    bottom: 5%;
  }
  .Piquant_container1 {
    text-align: center;
  }
  .Piquant_num1 {
    font-size: 28px;
    line-height: 2;
  }
  .Piquant_num2 {
    font-size: 24px;
    line-height: 1.8;
    margin-top: 50px;
  }
  .AirQuant {
    color: #1b76ff;
    font-weight: bold;
  }
  .blue1,
  .blue2 {
    background: #deebff;
  }
}
