.Airquant_Main {
  width: 100%;
  height: 300vh;
  .Airquant_Main_Content1 {
    color: $blue_main;
    font-size: 115px;
    margin-bottom: -103px;
    margin-left: 615px;
  }
  .Airquant_Main_Content2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .Airquant_Main_title {
    color: $blue_main;
  }
  //
  .Airquant_Flex {
  }
  .Airquant_img_first {
    display: flex;
  }
  .Airquant_img_second {
    display: flex;
  }
  .Airquant_img_third {
    display: flex;
    margin-left: 120px;
  }
  .Airquant_Main_1 {
  }
  .Airquant_Main1 {
    width: 1250px;
    height: 650px;
    margin-left: -200px;
  }
  .Airquant_Main2 {
    width: 380px;
    height: 380px;
    margin-left: -250px;
    margin-top: 400px;
  }
  .Airquant_Main3 {
    width: 468px;
    height: 307px;
    margin-left: 120px;
    margin-top: -50px;
    margin-bottom: 40px;
  }
  .Airquant_Main4 {
    width: 320px;
    height: 320px;
    margin-right: 40px;
  }
  .Airquant_Main5 {
    width: 320px;
    height: 320px;
    margin-right: 40px;
  }
  .Airquant_Main6 {
    width: 320px;
    height: 320px;
  }
}
