.ProductBackground {
  background-image: url('../../../images/Product/Product_background_03.jpg');
  background-position: center;
  background-position: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;

  background-attachment: fixed;

  &_box {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 115, 255, 0.605);

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &_text {
      color: white;
      font-size: 28px;
      line-height: 2;

      &_first {
        font-weight: 600;
      }
      &_second {
        font-size: 24px;
        padding-top: 50px;
        font-weight: 500;
      }
    }
  }
}

// 반응형
@include responsive(T) {
  .ProductBackground {
    &_box {
      &_text {
        font-size: 25px;
        &_first {
          &_br {
            display: block;
          }
        }
        &_second {
          font-size: 22px;
        }
      }
    }
  }
}

@include responsive(M) {
  .ProductBackground {
    &_box {
      background-color: rgba(0, 115, 255, 0.732);

      &_text {
        font-size: 17.5px;

        &_second {
          font-size: 14px;
          &_br {
            display: block;
          }
        }
      }
    }
  }
}
