.AirTable__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;

  .AirTable__Contents {
    margin: 15% 0 3% 0;
    font-size: 35px;
    font-weight: 600;
    &_small {
      font-size: 14px;
      padding-bottom: 22px;
      font-weight: 700;
      color: $blue_main;
      text-align: center;
    }
  }

  .AirTable__Table {
    margin-bottom: 50%;
    width: 100%;
    display: flex;
    justify-content: center;

    .AirTable__Table_In {
      height: 350px;
      border-collapse: collapse;
      border-bottom: 2px solid $blue_middle;
      table-layout: fixed;

      .AirTable__Thead__tr {
        height: 50px;
        background-color: $blue_middle;
        color: white;
        font-size: 1.2rem;
      }

      tr td {
        border-bottom: 1px solid $background;
        padding: 15px;
        text-align: center;
      }

      .AirTable__Tbody_tr {
        background-color: $blue_bright;
      }
    }
  }
}

// 반응형 768px
@include responsive(T) {
  .AirTable__container {
    .AirTable__Contents {
      font-size: 2rem;
    }

    .AirTable__Table_In {
      width: 80%;

      .AirTable__Thead__tr {
        font-size: 0.8rem;
      }
    }
  }
}

// 반응형 576px
@include responsive(M) {
  .AirTable__container {
    .AirTable__Contents {
      font-size: 1.5rem;
    }

    .AirTable__Table_In {
      th {
        font-size: 1rem;
      }

      .AirTable__hidden {
        display: none;
        visibility: hidden;
      }
    }
  }
}

// 반응형 375px 아이폰se
// 브라우저 사이즈 375px 이하일때
// @media (max-width: 375px){
//     .AirTable__hidden {
//         display: none;
//         visibility: hidden;
//     }
// }
