.Airquant_Main {
  width: 100%;
  height: 210vh;

  .Airquant_Main_Dots {
    font-size: 130px;
    color: $blue_main;
    position: relative;
    display: inline;
    left: 49.1%;
  }
  .Airquant_Main_Content1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 50px;
  }
  .Airquant_Main_title {
    color: $blue_main;
  }
  //
  .Airquant_Flex_Container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Airquant_img_first {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Airquant_img_second {
    display: flex;
  }
  .Airquant_img_third {
    display: flex;
    margin-left: 102px;
    justify-content: center;
    align-items: center;
  }
  .Airquant_Main_1 {
  }
  .Airquant_Main1 {
    width: 1250px;
    height: 650px;
    margin-left: -200px;
  }
  .Airquant_Main2 {
    width: 380px;
    height: 380px;
    margin-left: -250px;
    margin-top: 400px;
  }
  .Airquant_Main3 {
    width: 468px;
    height: 307px;
    margin-left: 120px;
    margin-top: -50px;
    margin-bottom: 40px;
  }
  .Airquant_Main4 {
    width: 320px;
    height: 320px;
    margin-right: 40px;
  }
  .Airquant_Main5 {
    width: 320px;
    height: 320px;
    margin-right: 40px;
  }
  .Airquant_Main6 {
    width: 320px;
    height: 320px;
  }
}
