.ProductYoutubeFirst {
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  // margin-top: -70px;

  background-color: white;
  padding: 40px;
  box-sizing: border-box;

  &_video {
    text-align: center;

    /* 반응형 */
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50%;
    .firstYtv {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
