.ProductBlueBox {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 30vh;

  // 스크롤 시 배경
  &_backGround {
    width: 100%;
    height: 100vh;
    //   height: 214px;
    background-color: $blue_main;
    display: flex;
    justify-content: center;
    align-items: center;

    // 스크롤 시 이벤트 나타나는 시간
    transition: 2s;

    // 스크롤 시 내용
    &_Scrolledcontent {
      color: white;
      font-size: 2rem;
      text-align: center;
      line-height: 85px;
      transition: 1s;

      .ProductBlueBox_bold {
        //   text-decoration: underline;
        font-weight: 700;
        box-shadow: inset 0 -5px 0 $white;
        font-size: 70px;
        font-size: 4rem;

        // transform: scale(3);
        transition: all 1.25s ease-in-out;
      }
    }

    //스크롤 전 내용
    &_content {
      color: white;
      font-size: 26px;
      text-align: center;
      line-height: 47px;
      transition: 1.25s;

      .ProductBlueBox_bold {
        //   text-decoration: underline;
        font-size: 2rem;
        font-weight: 500;
        box-shadow: inset 0 -2px 0 $white;
        transition: all 1.25s ease-in-out;
      }
    }
  }

  // 스크롤 전 배경
  &_ScrolledbackGround {
    width: 100%;
    height: 30vh;
    //   height: 214px;
    background-color: $blue_main;
    display: flex;
    justify-content: center;
    align-items: center;

    // 이벤트 사라지는 시간
    transition: 1.5s;
    animation-duration: 5s;
  }
}

// 반응형
@include responsive(T) {
  .ProductBlueBox {
    // 스크롤 시 배경
    &_backGround {
      // 스크롤 시 내용
      &_Scrolledcontent {
        font-size: 1.4rem;
        word-break: keep-all;

        .ProductBlueBox_bold {
          font-size: 40px;
          word-break: keep-all;
          box-shadow: inset 0 -3.5px 0 $white;
        }
      }
      //스크롤 전 내용
      &_content {
        font-size: 1.4rem;
      }
    }
  }
}

// 반응형 2
@include responsive(M) {
  .ProductBlueBox {
    // 스크롤 시 배경
    &_backGround {
      // 스크롤 시 내용
      &_Scrolledcontent {
        font-size: 1.3rem;
        .ProductBlueBox_bold {
          font-size: 1.6rem;
          box-shadow: inset 0 -2px 0 $white;
        }
      }
      //스크롤 전 내용
      &_content {
        font-size: 1rem;
        .ProductBlueBox_bold {
          font-size: 1.2rem;
        }

        &_br {
          display: block;
          line-height: 1.3;
        }
      }
    }
  }
}
.scroll-section,
.scroll-section-reverse {
  overflow-x: hidden;
}

.scroll-section {
  position: relative;
  padding: 150px 0 50px;
  width: 100%;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $blue-main;
    transform: translate3d(-100%, 0, 0);
    transition: all 750ms ease-in-out;
    z-index: -1;
  }

  &.active::after {
    transform: translate3d(0, 0, 0);
  }

  &-text {
    width: 80%;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 900;
    color: white;
    text-align: right;
  }
}

.scroll-section-reverse {
  position: relative;
  padding: 50px 0 150px;
  width: 100%;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $blue-light;
    transform: translate3d(100%, 0, 0);
    transition: all 750ms ease-in-out;
    z-index: -1;
  }

  &.active {
    &::after {
      transform: translate3d(0, 0, 0);
    }
  }

  &-text {
    width: 80%;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 900;
    color: $blue-main;
    text-align: left;
  }
}
