.ProductImgBottom {
  text-align: center;
  padding: 200px 0 200px 0;
  &_title {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 60px;
  }
  &_imgs {
    @include flexbox();
    gap: 20px;
    width: 100%;

    // overflow: hidden;

    &_One,
    &_Two,
    &_Three {
      width: calc((100% - 40px) / 3);
      height: calc((100% - 40px) / 3);
      border-radius: 15px;
    }
  }

  // 반응형

  @include responsive(T) {
    &_title {
      font-size: 35px;
      &_br {
        display: block;
        line-height: 1.5;
      }
    }
    &_imgs {
      flex-wrap: wrap;

      &_One,
      &_Two {
        width: calc((100% - 20px) / 2);
        // width: calc((50% - 20px) / 2);
        flex-shrink: 0;
        border-radius: 0;
      }
      &_Three {
        // flex-shrink: 1;
        width: 100%;
        height: 50vw;
        object-fit: cover;
        border-radius: 0;
      }
    }
  }

  @include responsive(M) {
    width: 100%;
    &_title {
      font-size: 30px;
    }
    &_imgs {
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 0;

      &_One,
      &_Two,
      &_Three {
        width: 100%;
        border-radius: 0;
      }

      &_Three {
        height: auto;
      }
    }
  }
}
