.Product__Graph__Main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 150vh;
    margin-top: -100px;

    .Product__p_text_Main {
        text-align: center;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .Product__p_text_inhauniv {
        color: $border;
        margin-left: 500px;
    }


    .Product__div_text_health {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        width: 700px;
        margin-top: 50px;

        font-size: 2.5rem;
        font-weight: 700;
        

        color: $white;
        background-color: $blue_main;
        height: 50px;
    }
}
