.Piquant_container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  .Piquant_mark1 {
    font-size: 200px;
    font-family: cursive;
    color: $blue_light;
    margin-left: 140px;
    margin-bottom: -180px;
    display: inline;
  }
  .Piquant_mark2 {
    font-size: 200px;
    font-family: cursive;
    color: $blue_light;
    margin-left: 1050px;
    margin-top: -70px;
  }
  .Piquant_container1 {
    text-align: center;
  }
  .Piquant_num1 {
    font-size: 28px;
    line-height: 2;
  }
  .Piquant_num2 {
    font-size: 24px;
    line-height: 1.8;
    margin-top: 50px;
  }
  .AirQuant {
    color: #1b76ff;
    font-weight: bold;
  }
  .blue1,
  .blue2 {
    background: #deebff;
  }
}
