.airQuant_Main {

    &_Background_Image {
        width: 100%;
        height: 100vh;
        // background-color: rgb(228, 228, 228);
        background-size: 100% 100%;
        // margin-top: -60px;
        object-fit: cover;
    }

    .airQuant_Title {
        color: white;
        position: absolute;
        top: 70%;
        left: 6%;

        text-shadow: 0px 0px 20px rgba(34, 74, 103, 0.25);

        .airQuant_Main_Title {
            font-size: 7.5rem;
            font-weight: 600;
        }

        .airQuant_Sub_Title {
            font-size: 3rem;
        }
    }
}

// 반응형 1200px 이하일때
@include responsive(T) {

}

// 반응형 768px 이하일때
@include responsive(M) {
    .airQuant_Main{
        .airQuant_Title{
            .airQuant_Main_Title {
                font-size: 6rem;
            }
            .airQuant_Sub_Title {
                font-size: 2.75rem;
            }
        }
    }

}


// 반응형 375px 아이폰se
// 브라우저 사이즈 375px 이하일때
@media (max-width: 375px){

}