.Piquant_container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  .Piquant_container_spot {
    display: inline;
  }
  .Piquant_container_spot1 {
    font-size: 130px;
    font-family: cursive;
    color: $blue_light;
    position: relative;
    right: 24%;
    top: 16%;
  }
  .Piquant_container_spot2 {
    font-size: 130px;
    font-family: cursive;
    color: $blue_light;
    position: relative;
    left: 24%;
    bottom: 5%;
  }
  .Piquant_container1 {
    text-align: center;
  }
  .Piquant_num1 {
    font-size: 28px;
    line-height: 2;
  }
  .Piquant_num2 {
    font-size: 24px;
    line-height: 1.8;
    margin-top: 50px;
  }
  .AirQuant {
    color: #1b76ff;
    font-weight: bold;
  }
  .blue1,
  .blue2 {
    background: #deebff;
  }
}
