.Airquant_Main {
  width: 100%;
  height: 300vh;
  position: relative;

  .Airquant_Main_Content {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
  }
  .Airquant_Main_title {
    color: $blue_main;
  }
  //
  .Airquant_Flex {
    position: absolute;
    left: -220px;
  }
  .Airquant_img_second {
    position: absolute;
    left: 287px;
    margin-top: 100px;
  }
  .Airquant_img_third {
    position: absolute;
    width: 1016px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .Airquant_img_fourth {
    position: absolute;
    right: 50px;
    top: 400px;
  }
  .Airquant_Main1 {
    width: 1092px;
    height: 600px;
  }
  .Airquant_Main2 {
    width: 400px;
    height: 400px;
  }
  .Airquant_Main3 {
    width: 468px;
    height: 307px;
    right: 905px;
  }
  .Airquant_Main4 {
    width: 320px;
    height: 320px;
  }
  .Airquant_Main5 {
    width: 320px;
    height: 320px;
  }
  .Airquant_Main6 {
    width: 320px;
    height: 320px;
  }
}
