$black: #000;
$dark: #222;
$primary: #2a2a2a;
$secondary: #444;
$teritiary: #797979;
$border: #969696;
$background: #e0e0e0;
$background-banner: #f9f9f9;
$white: #fff;

$blue_main: #1b76ff;
$red: red;
$green: green;

$blue_middle: #69a5ff;
$blue_light: #bad6ff;
$blue_bright: #deebff;
