@import '../styles/constants/_colors';
@import '../styles/mixins/_flexbox';

// 전체에 margin,padding 0px로 맞춰줘야 애니메이션 실행 후 위치가 움직여보이는 오류 없어짐,, 아마도,,?
* {
  margin: 0px;
  padding: 0px;
}

.CompanyIcon {
  // container 높이 값 바꿔야함
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  &-title {
    color: $dark;
    //스크롤 전에는 안 보이게 히든값 주기
    visibility: hidden;
    //스크롤 시
    &-scrolled {
      animation-duration: 3s;
      animation-name: upSlide;
    }
  }
  &-imgs {
    @include flexbox;
    visibility: hidden;
    &-scrolled {
      @include flexbox;
      animation-duration: 3s;
      animation-name: upSlide;
    }
    &-item {
      background-color: gray;
      width: 400px;
      height: 300px;
      margin: 40px;
    }
  }
  &-icons {
    @include flexbox;
    visibility: hidden;
    &-item {
      flex-direction: column;
      @include flexbox;
      width: 300px;
      margin: 10px;

      &-img {
        width: 150px;
        height: 150px;
        background-color: gray;
      }
    }
    &-scrolled {
      @include flexbox;
      span {
        margin: 5px;
      }
      animation-duration: 3s;
      animation-name: upSlide;
    }
  }
}
@keyframes upSlide {
  from {
    margin-top: 30%;
    opacity: 0;
  }

  to {
    margin-top: 0%;
    opacity: 1;
  }
}
@keyframes leftSlide {
  from {
    margin-left: 10%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}
