@import '../styles/constants/_colors';
@import '../styles/mixins/_flexbox';

.CompanyIcon {
  // container 높이 값 바꿔야함
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  &-title {
    color: $dark;
  }
  &-imgs {
    @include flexbox;
    &-item {
      background-color: gray;
      width: 400px;
      height: 300px;
      margin: 40px;
    }
  }
  &-icons {
    @include flexbox;
    span {
      margin: 10px;
    }
    &-item {
      flex-direction: column;
      @include flexbox;
      width: 300px;
      margin: 10px;
      &-img {
        width: 150px;
        height: 150px;
        background-color: gray;
      }
    }
  }
}

// 스크롤 이벤트 부분
.CompanyIcon-title-scrolled {
  color: red;
  transition: all 1s;
}
