@import '../styles/constants/colors';
@import '../styles/mixins/flexbox';

.CompanyIcon {
  // container 높이 값 바꿔야함
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  .CompanyIcon_Title {
    color: $dark;
  }
  .CompanyIcon_Imgs {
    @include flexbox;
    .CompanyIcon_Img_Item {
      background-color: gray;
      width: 400px;
      height: 300px;
      margin: 40px;
    }
  }
  .CompanyIcon_Icons {
    @include flexbox;
    span {
      margin: 10px;
    }
    .CompanyIcon_Icon {
      flex-direction: column;
      @include flexbox;
      width: 300px;
      margin: 10px;
      .CompanyIcon_Icon_Item {
        width: 150px;
        height: 150px;
        background-color: gray;
      }
    }
  }
}

// 스크롤 이벤트 부분
.CompanyIcon_Title_Scrolled {
  color: red;
  transition: all 3s;
}
