.CompanyIcon {
  word-break: keep-all;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  &-title {
    color: $dark;
    //스크롤 전에는 안 보이게 히든값 주기
    visibility: hidden;
    //스크롤 시
    &-scrolled {
      animation-duration: 1.5s;
      animation-name: upSlide;
      animation-fill-mode: forwards;
    }
  }
  &-imgs {
    @include flexbox;
    visibility: hidden;
    &-scrolled {
      @include flexbox;
      animation-duration: 1.5s;
      animation-name: upSlide;
      animation-fill-mode: forwards;
    }
    &-item {
      &.imageLeft,
      &.imageRight {
        margin: 10px;
        img {
          width: 400px;
          height: 400px;
          margin: 50px;
        }
      }
    }
  }
  &-icons {
    @include flexbox;
    visibility: hidden;
    &-item {
      flex-direction: column;
      @include flexbox;
      width: 300px;
      margin: 10px;
      &-img {
        width: 150px;
        height: 150px;
        margin: 10px;
        &.small-icon {
          background-image: url(../images/Company/company_icon_02.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.price-icon {
          background-image: url(../images/Company/company_icon_03.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.accuracy-icon {
          background-image: url(../images/Company/company_icon_01.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
    &-scrolled {
      @include flexbox;
      span {
        margin: 8px;
      }
      animation-duration: 1.5s;
      animation-name: upSlide;
      animation-fill-mode: forwards;
    }
  }
  @include responsive(M) {
    img {
    }
    &-icons {
      &-item {
        width: 200px;
      }
      &-scrolled {
        flex-direction: column;
      }
    }
    &-imgs-item {
      &.imageLeft,
      &.imageRight {
        img {
          width: 300px;
          height: 300px;
          margin: 10px;
        }
      }
    }
  }
}
@keyframes upSlide {
  from {
    margin-top: 10%;
    opacity: 0;
  }

  to {
    margin-top: 0%;
    opacity: 1;
  }
}
