@import '../styles/mixins/flexbox';

.CompanyLED {
  width: 100%;
  // 나중에 높이 값 바꿔야함
  @include flexbox;
  flex-direction: column;
  &-title {
    color: gray;
  }
  &-charts {
    @include flexbox;
    &-item {
      width: 400px;
      height: 300px;
      background-color: gray;
      margin: 50px;
    }
  }

  &-content {
    @include flexbox;
    margin-bottom: 20px;
  }
}
