.CompanyAlgorithm {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.AlgoTitle {
  font-size: 40px;
}

.AlgoText {
  font-size: 25px;

  margin-top: 50px;

  text-align: center;
}
