.faq {
margin: 200px auto;
width: 80%;
border-bottom: 1px solid #C7C7C7;


@include responsive(T) {
    // 768 ~ 1200
    margin: 150px 0;
    width: 768px;
}

@include responsive(M) {
        // 576~768 이하일 때
        margin: 100px 0;
        width: 576px;
}
}