.InformationBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &_bigTitle {
    text-align: center;
    font-size: 28px;
    margin-bottom: 45px;
    font-weight: 700;
  }
  &_title {
    background-color: $blue_middle;
    color: $white;
    font-size: 24px;
    font-weight: 700;
    height: 64px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_firstBox {
    width: 704px;
    height: 256px;
    border: 1px solid gray;
    margin-bottom: 50px;

    .imgContent {
      height: 192px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      &_leftChild {
        height: 150px;
        width: 150px;
      }
      &_rightChild {
        text-align: right;
        font-size: 22.25px;
        font-weight: 600;
        line-height: 35px;
        &_blue {
          color: $blue_main;
        }
      }
    }
  }

  &_secondBox {
    width: 704px;
    height: 415px;
    border: 1px solid gray;

    &_content {
      height: 351px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 10px;
      padding-right: 10px;

      .dangerContentFirst {
        font-size: 22.25px;
        font-weight: 600;

        &_colorChange {
          color: $blue_main;
        }
      }
      .dangerContentSecond {
        font-size: 19.25px;
        line-height: 30px;
      }
      .dangerContentThird {
        font-size: 16px;
        line-height: 25px;
      }
      .dangerContentBottom {
        font-size: 22px;
        border-top: 1px solid gray;
        font-weight: 600;
        padding-top: 30px;

        &_colorChange {
          color: $blue_main;
        }
      }
    }
  }
}
