.Product__Info {
  display: center;
  font-size: 28px;
}

.title {
  background-color: $blue_middle;
  color: $white;
  font-size: $font-size-24;
  height: 64px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBox {
  width: 704px;
  height: 256px;
  border: 1px solid gray;
  margin-bottom: 50px;
  .imgContent {
    height: 192px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .leftChild {
      height: 150px;
      width: 150px;
      background-color: gray;
    }
    .rightChild {
      text-align: right;
      font-size: 22.25px;
    }
  }
}

.dangerBox {
  width: 704px;
  height: 415px;
  border: 1px solid gray;
  .content {
    text-align: center;
    .contentFirst {
      font-size: 22.25px;
    }
    .contentSecond {
      font-size: 19.25px;
    }
    .contentThird {
      font-size: 16px;
    }
    .contentBottom {
      font-size: 22px;
    }
  }
}
