// constants
@import './constants/colors';
@import './constants/fonts';
@import './constants/breakpoints';

// base
@import './base/reset';
@import './base/normalize';
@import './base/globals';

// mixins
@import './mixins/flexbox';
@import './mixins/text-style';
@import './mixins/responsive';

// layout
@import './layouts/Header';
@import './layouts/Container';
@import './layouts/Footer';
@import './layouts/Navbar.scss';

// module
@import './Card';
@import './InformationBox';
@import './ProductBlueBox.scss';
@import './TechMeasurement.scss';
@import './TechExplanation.scss';
@import './ProductAirquantImg.scss';
@import './ProductPiquantExplanation.scss';
@import './ProductAirTable.scss';
@import './TechMeasurementTable.scss';
@import './TechConvenience.scss';
@import './ProductGraphText.scss';
@import './TechMain.scss';
@import './TechCustomers.scss';

@import './box.scss';
@import './faq.scss';
@import './ProductMainImg.scss';
@import './ProductYoutubeFirst.scss';
