.Airquant_Main {
  width: 100%;
  height: 100vh;

  .Airquant_Main_Content {
    font-size: 2.5rem;
    text-align: center;
  }
  .Airquant_Main_Flex {
    display: flex;
  }
  .Airquant_Main1 {
    width: 100%;
    height: 100%;
    width: 1600px;
    height: 1000px;

    margin-right: 200px;
  }
  .Airquant_Main2 {
    width: 100%;
    height: 100%;
    width: 700px;
    height: 450px;

    top: 1000px;
    left: 550px;
  }
  .Airquant_Main3 {
    width: 100%;
    height: 100%;
    width: 468px;
    height: 307px;

    right: 650px;
    top: 850px;
  }
  .Airquant_Main4 {
    width: 100%;
    height: 100%;
    width: 320px;
    height: 320px;

    top: 1200px;
    right: 800px;
  }
  .Airquant_Main5 {
    width: 100%;
    height: 100%;
    width: 320px;
    height: 320px;

    top: 1200px;
    right: 450px;
  }
  .Airquant_Main6 {
    width: 100%;
    height: 100%;
    width: 320px;
    height: 320px;

    top: 1200px;
    right: 100px;
  }
}
