.Piquant_container {
  .Piquant_container1 {
    text-align: center;
  }
  .Piquant_num1 {
    font-size: 28px;
  }
  .Piquant_num2 {
    font-size: 24px;
  }
  .AirQuant {
    color: #1b76ff;
    font-weight: bold;
  }
  .blue1,
  .blue2 {
    background: #deebff;
  }
}
