.TechExplanation {
  .FineDust {
    font-size: 45px;
    text-align: center;
    margin-top: 2000px;
    margin-bottom: 150px;
  }
  .FineDustEleven {
    font-weight: bold;
  }

  .TechExplantionPhone {
    background-color: gray;
    width: 308px;
    height: 400px;
    margin-right: 100px;
    float: left;
  }
  .TechExplanationWeb {
  }
  .TechExplanationWeb1 {
    // p
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 160px;
    margin-bottom: 50px;
    margin-right: 20px;
  }
  .TechExplanationWeb2 {
    font-size: 25px;
    margin-left: 80px;
  }
  .TechExplanationDigitalMonitoring {
    float: left;
  }
  .TechExplanationDigital {
    background-color: gray;
    width: 580px;
    height: 344px;
    float: right;
    margin-top: 350px;
  }
  .TechExplanationMonitoring {
    float: left;
    margin-top: 440px;
    text-align: right;
    margin-right: 50px;
  }
  .TechExplanationMonitoring1 {
    font-weight: bold;
    font-size: 28px;
  }
  .TechExplanationMonitoring2 {
    font-size: 25px;
    margin-top: 50px;
  }
  .AirquantQuality {
    float: left;
  }
  .Airquant {
    float: left;
    background-color: gray;
    width: 450px;
    height: 450px;
    margin-top: 400px;
  }
  .AirQuality {
    float: right;
    margin-left: 70px;
    margin-top: 580px;
  }
  .AirQuality1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .AirQuality2 {
    font-size: 25px;
  }
}
