.TechConvenience {
  padding-bottom: 250px;
  align-items: center;
  // 소제목
  &_title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
  }

  &_content {
    display: flex;
    justify-content: center;

    // 왼쪽
    .TechConLeftChild {
      padding: 25px;

      &_Img {
        width: 435px;
        height: 280px;
      }
      &_text {
        text-align: center;
        font-size: 25px;
        padding-top: 20px;
        white-space: pre-wrap;
        line-height: 1.5;
      }
    }

    // 오른쪽
    .TechConRightChild {
      padding: 25px;

      &_Img {
        width: 435px;
        height: 280px;
      }
      &_text {
        text-align: center;
        font-size: 25px;
        padding-top: 20px;
        white-space: pre-wrap;
        line-height: 1.5;
      }
    }
  }
}
