.parent {
  .parent1 {
    text-align: center;
  }
  .Num1 {
    font-size: 28px;
  }
  .Num2 {
    font-size: 24px;
  }
  .AirQuant {
    color: #1b76ff;
    font-weight: bold;
  }
  .blue1,
  .blue2 {
    background: #deebff;
  }
}
