/* img {
  width: 80%;
  height: 80%;
}

SwiperSlideContainer {
} */

.patent_container {
  width: 100%;
  height: 75vh;
  position: relative;

  .swiper {
    width: 70%;
    --swiper-theme-color: $blue_main;
  }

  .swiper-slide > img {
    width: 230px;
    height: 300px;
  }

  .patent {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
  }
  .patent_center {
    align-items: center;
  }
  .swiper-button-prev {
    margin-left: 11%;
    margin-top: -3.5%;
    z-index: 0;
  }
  .swiper-button-next {
    margin-right: 11%;
    margin-top: -3.5%;
    z-index: 0;
  }
  .swiper-button-prev::after {
    color: $border;
  }
  .swiper-button-next::after {
    color: $border;
  }
  .swiper-pagination-bullet-active {
    background-color: $blue_main;
  }
  .swiper .swiper-pagination {
    position: absolute;
    top: 300px;
  }
  @include responsive(T) {
    .swiper-button-prev {
      margin-left: 9%;
      margin-top: -8%;
    }
    .swiper-button-next {
      margin-right: 9%;
      margin-top: -8%;
    }
  }
  @include responsive(M) {
    .patent {
      font-size: 2rem;
    }
    .patent_container1 {
      height: 70vh;
    }
    .swiper-button-prev {
      margin-left: 7%;
      margin-top: -3%;
    }
    .swiper-button-next {
      margin-right: 7%;
      margin-top: -3%;
    }
    .swiper-slide > img {
      margin-left: 17px;
    }
  }
}
