.TechCustomersMap__container {
    display: flex;

    .TechCustomers__img {
        width: 300px;
        height: 100px;
        margin: 20px;
    }
}



// // 반응형
// @include responsive(T) {
//     .TechCustomersMap__container{
//         width: 576px;
//         // .TechCustomers__img {
//         // }
//     }
// }

// @include responsive(M) {
//     .TechCustomersMap__container{
//         width: 375px;
//     .TechCustomers__img {
//         width: 50%;
//         height: 10%;
//     }
// }
// }
