.TechCardBook__ {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  // height: 100vh;

  padding: 120px 0px 120px 0;

  &container {
    &__section1,
    &__section2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      // margin-bottom: 10px;

      // background-color: aqua;
    }

    &__section1 {
      &__text {
        font-size: 35px;
        width: 500px;
        height: 300px;
        margin: 10px;
        line-height: 1.4;
        font-weight: 600;

        // margin-right: 10px;

        span {
          font-size: 3.2rem;
          font-weight: 800;
        }
      }
    }

    // &__section2 {

    //     &__section {
    //         // margin-right: 10px;

    //     }
    // }
  }
}

// @mixin responsive($screen) {
//     @if ($screen == 'T') {
//     @media screen and (max-width: ($lg-breakpoint - 1px)) {
//         // 1199px까지 적용
//         @content;
//         .TechCardBook__ {
//             height: 150vh;
//             &container {
//                 &__section1,
//                 &__section2 {
//                     // width: 33%;
//                     display: flex;
//                     flex-direction: column;
//                     margin: 0;
//                     padding: 0;

//                     // &__text,
//                     // &__section {
//                     //     width: 33%;
//                     // }
//                 }

//                 &__section1 {
//                     &__text{
//                     top: 150px;
//                     position: relative;
//                 }
//                 }
//             }
//         }
//     }
//     }

//     @if ($screen == 'M') {
//     @media screen and (max-width: ($sm-breakpoint - 1px)) {
//         // 575px까지 적용
//         @content;
//     }
//     }
// }

// 반응형
@include responsive(T) {
  .TechCardBook__ {
    &container {
      &__section1 {
        &__text {
          width: 350px;
        }
      }
    }
  }
}

// 브라우저 사이즈 768px 이하일때
@media (max-width: 830px) {
  .TechCardBook__ {
    // margin-top: 300px;
    // margin-bottom: 500px;
    margin: 300px 0 500px 0;
    // background-color: red;
    &container {
      &__section1,
      &__section2 {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__text {
          height: 100px;
        }
      }
    }
  }
}

// 모바일 반응형

@include responsive(M) {
}
