.TechExplanation {
  width: 100%;
  margin-top: 30vh;
  margin-bottom: 500px;

  .FineDust {
    font-size: 45px;
    text-align: center;
    margin-bottom: 30vh;
  }
  .FineDustEleven {
    font-weight: bold;
  }
  .TechExplanationPhoneWeb {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .TechExplantionPhone1 {
    width: 100%;
    height: 100%;
    width: 308px;
    height: 550px;
    margin-bottom: 300px;
  }
  .TechExplanationWeb {
    margin-left: 130px;
    margin-top: -400px;
  }
  .TechExplanationWeb1 {
    // p

    font-size: 26px;
    font-weight: bold;
    margin-top: 280px;
    margin-bottom: 50px;
    width: 350px;
  }
  .TechExplanationWeb2 {
    width: 307px;
    font-size: 21px;
    margin-top: 50px;
    font-weight: 500;
    width: 350px;
  }
  .TechExplanationDigitalMonitoring {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .TechExplanationDigital1 {
    width: 100%;
    height: 100%;
    width: 520px;
    height: 400px;
    border-radius: 30px 30px 30px 30px;
    margin-left: 120px;
    margin-bottom: 300px;
  }
  .TechExplanationMonitoring {
    text-align: right;
    margin-top: -220px;
  }
  .TechExplanationMonitoring1 {
    font-weight: bold;
    font-size: 26px;
  }
  .TechExplanationMonitoring2 {
    margin-top: 50px;
    font-size: 21px;
  }
  .Airquant1 {
    width: 100%;
    height: 100%;
    width: 630px;
    height: 750px;
    margin-left: -50px;
  }
  .Airquant2 {
    display: none;
  }
  .Airquantquality {
    display: flex;
  }
  .AirQuality {
    margin-left: 100px;
    margin-top: 400px;
  }
  .AirQuality1 {
    font-size: 26px;
    font-weight: bold;
  }
  .AirQuality2 {
    font-size: 21px;
    margin-top: 50px;
  }
  .TechExplanation_space_desk {
    display: block;
  }
  @include responsive(T) {
    .TechExplanation_space {
      display: block;
    }

    .TechExplanationWeb {
      margin-left: 50px;
      margin-top: -400px;
    }
    .TechExplantionPhone1 {
      width: 100%;
      height: 100%;
      width: 270px;
      height: 470px;
      margin-bottom: 250px;
    }
    .TechExplanationWeb1 {
      font-size: 26px;
      font-weight: bold;
      margin-top: 280px;
      margin-bottom: 50px;
    }
    .TechExplanationWeb2 {
      font-size: 21px;
    }
    .TechExplanationDigitalMonitoring {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .TechExplanationMonitoring1 {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: px;
    }
    .TechExplanationMonitoring2 {
      font-size: 21px;
    }

    .TechExplanationMonitoring {
      text-align: center;
    }
    .TechExplanationMonitoring {
      margin-bottom: 50px;
    }
    .TechExplanationMonitoring1 {
      font-size: 24px;
    }
    .TechExplanationMonitoring2 {
      font-size: 19px;
    }
    .TechExplanationDigital1 {
      width: 100%;
      height: 100%;
      width: 500px;
      height: 400px;
      margin-right: 120px;
    }
    .Airquant1 {
      width: 100%;
      height: 100%;
      margin-right: px;
      width: 400px;
      height: 550px;
      margin-top: 180px;
    }
    .AirQuality {
      margin: px px px 100px;
    }
    .AirQuality1 {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 50px;
    }
    .AirQuality2 {
      font-size: 21px;
      margin-bottom: -100px;
    }
    .TechExplanation_space_tablet {
      display: block;
    }
  }
  @include responsive(M) {
    .FineDust {
      font-size: 35px;
    }
    .TechExplanationPhoneWeb {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .TechExplantionPhone1 {
      margin-left: 0px;
      margin-bottom: 200px;
    }
    .TechExplanationWeb {
      margin-right: 50px;
      margin-bottom: 200px;
    }
    .TechExplanationWeb1 {
      font-size: 24px;
    }
    .TechExplanationWeb2 {
      font-size: 19px;
    }
    .TechExplanationDigitalMonitoring {
    }
    .TechExplanationMonitoring {
      margin-bottom: 180px;
    }

    .TechExplanationDigital1 {
      display: inline;
      width: 100%;
      height: 100%;
      width: 310px;
      height: 240px;
    }
    .Airquant1 {
      display: none;
    }
    .Airquant2 {
      display: flex;
    }
    .Airquantquality {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .AirQuality {
      margin-right: 100px;
      margin-top: 100px;
      width: 300px;
    }

    .TechExplanation_space {
      display: block;
    }
    .TechExplanation_space_mobile {
      display: block;
    }
    .Airquant1 {
      margin-right: 5px;
    }
    .Airquant2 {
      width: 300px;
      height: 300px;
    }
    .TechExplanation_space_tablet {
      display: inline;
    }
  }
}
