// 모달창
.Techmodal {
  background-color: $blue_main;
  width: 100%;
  height: 300px;

  &_title {
    font-size: 25px;
  }

  &_explain {
    text-align: center;
    font-size: 20px;
  }

  &_content {
    padding-left: 50px;
    line-height: 30px;
    font-size: 20px;

    &_spec {
      font-size: 25px;
    }
  }
}

// 기본 창
.TechMeasurement {
  width: 100%;
  height: 200px;
  background-color: $blue_main;
  color: $white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  &_title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 50px;
  }

  &_content {
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
  }

  //버튼
  .TechMeasurement_button {
    width: 30px;
    height: 30px;
    background-color: $white;
    border-radius: 50%;
    margin: auto;

    color: $blue_main;
    font-size: 30px;
    font-weight: 700;
  }

  .TechMeasurement_deleteButton {
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    right: 30px;
    top: 10px;
  }
}
