.TechCardBook__ {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: 120px 0px 120px 0;

  &container {
    &__section1,
    &__section2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &__section1 {
      &__text {
        font-size: 35px;
        width: 470px;
        height: 300px;
        margin: 10px;
        line-height: 1.4;
        font-weight: 600;

        // margin-right: 10px;

        span {
          font-size: 3.2rem;
          font-weight: 800;
        }
      }
    }
  }
}


// 반응형
// 1199px까지 적용
@include responsive(T) {
  .TechCardBook__ {
    &container {
      &__section1 {
        &__text {
          width: 370px;
        }
      }
    }
  }
}


// 브라우저 사이즈 768px 이하일때
@media (max-width: 830px) {
  .TechCardBook__ {
    // margin-top: 300px;
    // margin-bottom: 500px;
    margin: 300px 0 500px 0;
    // background-color: red;
    &container {
      &__section1,
      &__section2 {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__text {
          height: 100px;
        }
      }
    }
  }
}


// 반응형 2
// 575px까지 적용
@include responsive(M) {
.TechCardBook__ {
  margin: 100px 0 0 0;
  &container {
    display: flex;
    flex-direction: column;
    margin: 0;
    
    &__seciont1,
    &__seciont2,
    &__seciont3 {
      width: 100%;
      margin: 0;
    }

    &__section1 {
      &__text {
        margin: 200px 0 15px 0;
      }
    }
  }
}
}