.TechExplanation {
  width: 100%;
  margin-bottom: 500px;

  .FineDust {
    font-size: 45px;
    text-align: center;
    margin-bottom: 30vh;
  }
  .FineDustEleven {
    font-weight: bold;
  }
  .TechExplanationPhoneWeb {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .TechExplantionPhone1 {
    width: 100%;
    height: 100%;
    width: 408px;
    height: 650px;
    margin-bottom: 300px;
  }
  .TechExplanationWeb {
    margin-left: 130px;
    margin-top: -400px;
  }
  .TechExplanationWeb1 {
    // p

    font-size: 26px;
    font-weight: bold;
    margin-top: 280px;
    margin-bottom: 50px;
  }
  .TechExplanationWeb2 {
    font-size: 21px;
  }
  .TechExplanationDigitalMonitoring {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .TechExplanationDigital1 {
    width: 100%;
    height: 100%;
    width: 650px;
    height: 500px;
    margin-left: 120px;
    margin-bottom: 300px;
  }
  .TechExplanationMonitoring {
    text-align: right;
    margin-top: -220px;
  }
  .TechExplanationMonitoring1 {
    font-weight: bold;
    font-size: 26px;
  }
  .TechExplanationMonitoring2 {
    margin-top: 50px;
    font-size: 21px;
  }
  .Airquant1 {
    width: 100%;
    height: 100%;
    width: 475px;
    height: 475px;
  }
  .Airquantquality {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .AirQuality {
    margin-left: 100px;
    margin-top: 150px;
  }
  .AirQuality1 {
    font-size: 26px;
    font-weight: bold;
  }
  .AirQuality2 {
    font-size: 21px;
    margin-top: 50px;
  }
  @include responsive(T) {
    .TechExplanation_space {
      display: block;
    }

    .TechExplanationWeb {
      margin-left: 50px;
      margin-top: -400px;
    }
    .TechExplantionPhone1 {
      width: 100%;
      height: 100%;
      width: 300px;
      height: 550px;
      margin-bottom: 300px;
    }
    .TechExplanationWeb1 {
      font-size: 26px;
      font-weight: bold;
      margin-top: 280px;
      margin-bottom: 50px;
    }
    .TechExplanationWeb2 {
      font-size: 21px;
    }
    .TechExplanationDigitalMonitoring {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .TechExplanationMonitoring1 {
      font-size: 26px;
      font-weight: bold;
    }
    .TechExplanationMonitoring2 {
      font-size: 21px;
    }

    .TechExplanationMonitoring {
      text-align: center;
    }
    .TechExplanationMonitoring {
      margin-bottom: 300px;
    }
    .TechExplanationDigital1 {
      width: 100%;
      height: 100%;
      width: 500px;
      height: 400px;
      margin-right: 120px;
    }
    .Airquant1 {
      width: 100%;
      height: 100%;
      margin-right: -50px;
      width: 400px;
      height: 400px;
    }
    .AirQuality1 {
      font-size: 26px;
      font-weight: bold;
    }
    .AirQuality2 {
      font-size: 21px;
      margin-top: 50px;
    }
  }
  @include responsive(M) {
    .FineDust {
      font-size: 40px;
    }
    .TechExplanationPhoneWeb {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .TechExplantionPhone1 {
      margin-left: 0px;
      margin-bottom: 200px;
    }
    .TechExplanationWeb {
      margin-right: 50px;
      margin-bottom: 200px;
    }
    .Airquant1 {
      width: 100%;
      height: 100%;

      width: 300px;
      height: 300px;
    }
  }
}
