.TechConvenience {
  padding-bottom: 40vh;
  align-items: center;
  // 소제목
  &_title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
  }

  &_content {
    display: flex;
    justify-content: center;

    // 왼쪽
    .TechConLeftChild {
      padding-right: 30px;

      &_Img {
        width: 435px;
        height: 280px;
      }
      &_text {
        text-align: center;
        font-size: 20px;
        padding-top: 20px;
        white-space: pre-wrap;
        line-height: 1.5;
      }
    }

    // 오른쪽
    .TechConRightChild {
      padding-left: 30px;

      &_Img {
        width: 435px;
        height: 280px;
      }
      &_text {
        text-align: center;
        font-size: 20px;
        padding-top: 20px;
        white-space: pre-wrap;
        line-height: 1.5;
      }
    }
  }
}

// 반응형
@include responsive(M) {
  .TechConvenience {
    &_content {
      flex-direction: column;
      text-align: center;

      // 왼쪽
      .TechConLeftChild {
        padding-bottom: 10vh;
        padding-right: 0px;
      }

      // 오른쪽
      .TechConRightChild {
        padding-left: 0px;
      }
    }
  }
}
