/* img {
  width: 80%;
  height: 80%;
}

SwiperSlideContainer {
} */

.patent_container {
  width: 100%;
  height: 61vh;
  position: relative;

  .swiper {
    width: 70%;
    --swiper-theme-color: $blue_main;
  }

  .swiper-slide > img {
    width: 230px;
    height: 300px;
  }

  .patent {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
  }
  .patent_center {
    align-items: center;
  }
  .swiper-button-prev {
    margin-left: 11%;
    margin-top: 0.5%;
  }
  .swiper-button-next {
    margin-right: 11%;
    margin-top: 0.5%;
  }
  .swiper-button-prev::after {
    color: $blue_main;
  }
  .swiper-button-next::after {
    color: $blue_main;
  }
  .swiper-pagination-bullet-active {
    background-color: $blue_main;
  }
  @include responsive(T) {
    .swiper-button-prev {
      margin-left: 9%;
    }
    .swiper-button-next {
      margin-right: 9%;
    }
  }
  @include responsive(M) {
    .swiper-button-prev {
      margin-left: 7%;
      margin-top: 13%;
    }
    .swiper-button-next {
      margin-right: 7%;
      margin-top: 13%;
    }
    .Tech-Patent-space {
      display: block;
    }
  }
}
