.TechMain__Main {

    .TechMain__Main__Image {
        // background-image: url(../../../image/image6.jpeg);
        width: 100%;
        height: 100vh;
        background-size: 100% 100%;
        margin-top: -60px;
        object-fit: cover;
    }



    .TechMain__title {
        position: absolute;
        top: 800px;
        left: 6%;

        font-size: 4rem;
        font-weight: 700;

        color: $white;

        text-shadow: 0px 0px 20px rgb(35, 36, 37);

    }

}