.TechMeasurementTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;

  &_Contents {
    margin: 15% 0 3% 0;
    font-size: 2.5rem;
    font-weight: 600;
  }

  &_Table {
    margin-bottom: 15vh;
    // width: 100%;
    display: flex;
    justify-content: center;

    &_In {
      height: 350px;
      border-collapse: collapse;
      border-bottom: 2px solid $blue_middle;
      table-layout: fixed;

      .TechMeasurementTable_Thead__tr {
        height: 50px;
        background-color: $blue_middle;
        color: white;
        font-size: 1.2rem;
      }

      tr td {
        border-bottom: 1px solid $background;
        padding: 15px;
        text-align: center;
      }

      .TechMeasurementTable_Tbody_tr {
        background-color: $blue_bright;
      }
    }
  }
  &_explain {
    font-size: 20px;
    padding-bottom: 20vh;
  }
  &_spec {
    font-size: 20px;
    padding-bottom: 10vh;
    padding-right: 20%;
    line-height: 1.5;

    &_title {
      font-weight: 700;
      color: $blue_main;
      // font-size: 30px;
      width: 40%;
    }
  }
}
