.TechMeasurementTable {
  width: 100%;
  height: 1055px;
  background-color: $blue_main;
  color: $white;

  &_title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 80px;
  }

  // table
  &_table {
    text-align: center;
    width: 80%;
    height: 400px;
    margin: auto;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;

    td {
      height: 100px;
    }
    &_title {
      font-size: 30px;
      font-weight: 500;
    }

    &_content {
      font-size: 25px;
    }
  }

  &_explain {
    font-size: 25px;
    text-align: center;
    padding-bottom: 50px;
  }
  &_line {
    width: 90%;
    margin: auto;
    height: 3px;
    background-color: $white;
  }

  // part2
  &_spec {
    padding-left: 100px;
    padding-top: 50px;

    &_title {
      font-size: 30px;
      padding-bottom: 20px;
    }
    &_content {
      font-size: 25px;
      line-height: 35px;
    }
  }
}
