.Contact {
  word-break: keep-all;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 25px;
  &-map,
  &-error {
    @include flexbox;
    width: 100%;
    height: 300px;
    background: $blue_light;
    border-radius: 15px;
    color: white;
  }
  &-info {
    line-height: $line-height-13;

    &-address {
      &-transport {
        @include flexbox(flex-start);
        gap: 30px;
        margin-top: 20px;
        &-title {
          font-size: 2.5rem;
          color: gray;
        }
      }
    }
    &-title {
      font-weight: bold;
    }
  }
}
