.Contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20;

  &-map,
  &-error {
    width: 100%;
    height: 300px;
    background: $blue_light;
    @include flexbox;
  }
  &-info {
    margin: 10px;
    &-address {
    }
  }
}
