.faqBox {
  padding: 20px;
  margin-bottom: 20px;
  background: $background-banner;
  border-radius: 16px;

  .questionBox {
    @include flexbox(between);

    // min-height: 100px;
    padding: 0px 20px;

    // line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

    &:hover,
    &:active {
      .question {
        color: $blue_main;
      }
    }

    .question {
      word-break: keep-all;
      font-size: 18px;
      color: $black;
      transition: color 250ms ease-in-out;
    }

    .open {
      color: $blue_main;
    }

    .icon {
      font-size: 35px;
      padding: 10px;
      transform: rotate(0deg);
      transform-origin: 50% 43%;
      transition: transform 500ms ease-in-out;
    }

    .upIcon {
      color: $teritiary;
      transform-origin: 50% 43%;
      transform: rotate(180deg);
    }
  }

  .answer-open {
    overflow: hidden;
    transition: height 500ms ease-in-out;

    .answer {
      line-height: 1.6rem;
      padding: 2rem 2rem 4rem 2rem;
      word-break: keep-all;
      white-space: pre-line;
    }
  }

  @include responsive(T) {
    // 768 ~ 1200
    .questionBox {
      // min-height: 90px;
      line-height: 30px;

      .question {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 17px;
        .open {
          display: block;
        }
      }

      .icon {
        font-size: 30px;
        padding: 0 10px;
      }
    }

    .answer-open {
      .answer {
        padding: 2rem 2rem 3rem 2rem;
      }
    }
  }

  @include responsive(M) {
    // 576~768
    .questionBox {
      line-height: 1.6rem;
      // height: 80px;
      padding: 0px 10px;

      .question {
        font-size: 16px;
      }
      .open {
        // padding: 20px 0;
        display: flex;
        font-size: 16px;
      }

      .icon {
        display: none;
      }
    }

    .answer-open {
      .answer {
        padding: 1rem 1rem 3rem 1rem;
      }
    }
  }
}
