.faqBox {
  padding: 0 20px;
  margin-bottom: 20px;
  background: $background-banner;
  border-radius: 16px;

  .questionBox {
    @include flexbox(between);
    // display: flex;
    // justify-content: space-between;
    // align-items: center;

    border-top: 1px solid rgba($border, 0.1);
    height: 100px;
    padding: 0px 20px;

    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    cursor: pointer;

    &:not(:first-child) {
      border-top: 1px solid rgba(0, 0, 0, 0.3);
    }

    &:hover {
      color: #1b76ff;
    }

    .question {
      word-break: keep-all;
    }
    .open {
      color: #1b76ff;
    }

    .icon {
      font-size: 35px;
      padding: 0 20px;
      transform: rotate(0deg);
      transition: transform 500ms ease-in-out;
    }
    .upIcon {
      color: #c7c7c7;
      transform: rotate(180deg);
    }
  }

  .answer-open {
    overflow: hidden;
    transition: height ease 0.5s;

    .answer {
      padding: 2rem 4rem 6rem 4rem;
      word-break: keep-all;
    }
  }

  @include responsive(T) {
    // 768 ~ 1200
    .questionBox {
      font-size: 18px;
      height: 90px;
      line-height: 30px;

      .question {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        .open {
          display: block;
        }
      }

      .icon {
        font-size: 30px;
        padding: 0 10px;
      }
    }

    .answer-open {
      .answer {
        padding: 2rem 2rem 3rem 2rem;
      }
    }
  }

  @include responsive(M) {
    // 576~768
    .questionBox {
      font-size: 16px;
      line-height: 1.6rem;
      height: 80px;
      padding: 0px 10px;

      .open {
        // padding: 20px 0;
        display: flex;
      }

      .icon {
        font-size: 25px;
        // padding: 0;
      }
    }

    .answer-open {
      .answer {
        padding: 2rem 1rem 3rem 1rem;
      }
    }
  }
}
