.noticeList {
  width: 100%;
  border-top: 2px solid $teritiary;

  //표 테두리와 셀 테두리 간격 없애기
  border-collapse: collapse;
  text-align: center;

  thead {
    // background-color: $blue_light;
    border-bottom: 2px solid $secondary;
  }

  tr {
    border-bottom: 1px solid $teritiary;
    // height: 70px;
  }

  th,
  td {
    padding: 20px 0;
    height: 70px;
  }

  .noticeData {
    cursor: pointer;
    transition: background-color 350ms ease-in-out;

    &:hover {
      background-color: rgba(184, 212, 255, 0.2);
    }
    .noticeTitle {
      text-align: left;
      display: flex;
      align-items: center;
    }

    .noticeNo {
      width: 100px;
    }
    .noticeDate {
      width: 130px;
    }
  }

  @include responsive(T) {
    // 768 ~ 1200
    width: 100%;

    .noticeData {
      position: relative;

      .noticeTitle {
        .noticeTitleP {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      .noticeNo {
        width: 70px;
      }
      .noticeDate {
        width: 100px;
      }
    }
  }

  @include responsive(M) {
    // 576~768 이하일 때
    // margin: 100px 0;
    width: 100%;
    .noticeHeader {
      th:first-child {
        display: none;
      }
    }

    .noticeNo {
      display: none;
    }
  }
}
