.NoticeItem {
  @include column-flexbox(center, start);

  width: 100%;
  max-width: 960px;
  padding: 20px 0;
  gap: 50px;

  .back {
    padding: 20px;
    font-weight: 600;

    &:hover,
    &:active {
      background-color: $background-banner;
    }
  }

  &-contents {
    width: 100%;
    margin-bottom: 50px;

    .title {
      align-items: center;
    }
  }

  &-desc {
    white-space:pre-line;
    padding: 0 20px;
  }

  &-pagination {
    @include column-flexbox(start, start);
    width: 100%;
    // border-top: 1px solid gray;
    // border-bottom: 1.5px solid gray;

    // .page-item {
    .pagination {
      @include flexbox(start);
      width: 100%;
      padding: 0 20px;
      font-size: 15px;
      background-color: $background-banner;
      border-radius: 12px;
      margin : 10px 0;

      &:first-child {
        // border-bottom: 1px solid #aaa;
      }

      span {
        display: block;
        min-width: 30px;
        margin-right: 20px;
        font-weight: 700;
      }

      a {
        display: block;
        width: 100%;
        padding: 30px 0;
        transition: all 350ms ease-in-out;
      }
    }

    .disabled {
      color: $border;
      pointer-events: none;
    }
  }

  @include responsive(T) {
    gap: 0;
    .back {
      margin-bottom: 30px;
    }

  }
}
