.qna {
  display: flex;
  &-submit {
    width: 100%;
    @include column-flexbox(center, start);
    gap: 30px;
    margin-right: 20px;

    input,
    select,
    textarea {
      width: 100%;
      padding: 12px 10px;
      border: 1px solid $border;
      border-radius: 4px;
      font-size: $font-size-14;
      font-weight: 300;
      color: $secondary;

      -webkit-appearance: none; /* 크롬 화살표 없애기 */
      -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
      appearance: none; /* 화살표 없애기 */

      &::placeholder {
        color: $border;
      }

      &:focus {
        border: 1px solid $blue_main;
        &::-webkit-input-placeholder,
        &::-webkit-textarea-placeholder {
          // input태그 포커스 시 placeholder 글자 사라지게 만들기
          color: transparent;
        }
      }
    }

    textarea {
      height: 150px;
      padding-top: 10px;
      resize: none;
    }
  }
  label {
    font-size: 16px;
    font-weight: 500;
    position: relative;

    &::after {
      content: '*';
      position: absolute;
      color: $red;
      font-size: 12px;
      top: -2.5px;
      right: -10px;
    }
  }
  // 추가
  .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    small {
      width: 100%;
      @include flexbox;
    }
  }

  &-error {
    color: $red;
    font-size: $font-size-14;
    width: 100%;
    text-align: left;
  }

  &-hidden {
    height: 16.09px;
  }

  button {
    display: block;
    font-weight: 500;
    padding: 12px 36px;
    width: auto;
    font-size: 14px;
    margin: 0 auto;
  }

  @include responsive(M) {
    flex-direction: column;
    &-submit {
      gap: 5px;
      width: 100%;
    }
    .input-group {
      width: 100%;
    }
  }
}
