.CompanyIntro {
  word-break: keep-all;

  height: 80vh;

  &-TopHr {
    width: 70px;

    border: 2px solid;

    color: $blue_main;

    margin: auto;
    margin-top: 100px;
  }

  &-Title {
    text-align: center;

    font-size: $font-size-24;
    font-weight: 700;
    color: $blue_main;

    margin-top: 15px;
  }

  &-Contents {
    @include flexbox;

    max-width: 80%;
    margin: auto;
    margin-top: 40px;

    &-Img {
      width: 500px;
      height: 350px;

      margin-right: 200px;
    }

    &-Text {
      &-Top {
        font-size: $font-size-18;

        &-Large {
          font-size: $font-size-24;

          &-Blue {
            color: $blue_main;
            font-weight: 700;
          }
        }
      }

      &-Bottom {
        margin-top: 40px;

        font-size: $font-size-14;
      }
    }
  }

  &-Button {
    @include flexbox;

    gap: 30px;

    margin-top: 50px;
  }

  &-BottomHr {
    max-width: 80%;

    margin: auto;
    margin-top: 30px;
  }

  @include responsive(T) {
    &-Contents {
      @include column-flexbox;

      &-Img {
        margin-right: 0px;
      }

      &-Text {
        @include flexbox;

        margin-top: 40px;

        &-Bottom {
          margin-top: 0px;
          margin-left: 30px;
        }
      }
    }
  }

  @include responsive(M) {
    &-Contents {
      &-Text {
        flex-direction: column;

        &-Bottom {
          margin-top: 40px;
          margin-left: 0px;
        }
      }
    }
  }
}
