.CompanyAlgorithm {
  word-break: keep-all;

  padding: 200px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-banner;

  &-Title {
    font-size: $font-size-24;
    text-align: center;

    strong {
      font-size: 28px;
      font-weight: 900;
    }
  }

  &-Text {
    padding-top: 40px;

    font-size: $font-size-18;

    text-align: center;
  }

  @include responsive(M) {
    & {
      padding: 120px 0;
    }
    &-Title {
      font-size: $font-size-18;
      text-align: center;

      strong {
        font-size: 20px;
      }
    }
    &-Text {
      font-size: $font-size-14;
    }
  }
}
