.CompanyAlgorithm {
  word-break: keep-all;

  margin-top: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &-Title {
    font-size: $font-size-24;
    text-align: center;

    strong {
      color: $blue_main;
      background-color: $blue_bright;
      padding: 2px;
    }
  }

  &-Text {
    margin-top: 40px;

    font-size: $font-size-18;

    text-align: center;
  }

  @include responsive(M) {
    & {
      margin-top: 120px;
    }
  }
}
