.IntroTopHr {
  width: 80px;

  border: 2px solid;

  color: rgba(27, 118, 255, 1);

  margin-bottom: 5px;
}

.IntroTitle {
  text-align: center;

  font-size: 40px;
  font-weight: 700;
  color: rgba(27, 118, 255, 1);

  margin-top: 10px;
  margin-bottom: 50px;
}

.IntroContents {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 80%;
  margin: auto;
}

.IntroImg {
  width: 500px;
  height: 350px;
}

.IntroText {
  display: flex;
  flex-direction: column;
}

.IntroTopText {
  font-size: 29px;

  margin-bottom: 50px;
}

.IntroLargeText {
  font-size: 32px;
}

.IntorBlueText {
  font-weight: 700;
  color: rgba(27, 118, 255, 1);
}

.IntroBottomText {
  font-size: 15px;
}

.IntroBottomHr {
  max-width: 80%;

  margin-top: 50px;
}
