.CompanyLED {
  width: 100%;
  @include flexbox;
  flex-direction: column;
  &-title {
    height: 10vh;
    text-align: center;
  }
  &-charts {
    @include flexbox;
    &-left,
    &-right {
      margin: 20px;
    }
  }

  &-content {
    margin-top: 30px;
    text-align: center;
    word-break: keep-all;
    font-size: $font-size-18;
    height: 50vh;
  }
  @include responsive(M) {
    &-charts {
      flex-direction: column;
    }
  }
}
