.CompanyAlgoChart {
  width: 80vw;

  &-Container {
    width: 100%;
    height: 100%;
  }
}

@include responsive(T) {
  .CompanyAlgoChart {
    &-Container {
      width: 100%;
      height: 100%;
    }
  }
}

@include responsive(M) {
  .CompanyAlgoChart {
    &-Container {
      width: 100%;
      height: 100%;
    }
  }
}
