.CompanyIcon {
  word-break: keep-all;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  &-title {
    color: $dark;
    //스크롤 시
  }
  &-imgs {
    @include flexbox;

    &-item {
      &.imageLeft,
      &.imageRight {
        margin: 10px;
        img {
          width: 400px;
          height: 400px;
          margin: 50px;
        }
      }
    }
  }
  &-icons {
    @include flexbox;

    &-item {
      flex-direction: column;
      @include flexbox;
      width: 300px;
      margin: 10px;
      &-img {
        width: 150px;
        height: 150px;
        margin: 10px;
        &.small-icon {
          background-image: url(../../../images/Company/company_icon_02.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.price-icon {
          background-image: url(../../../images/Company/company_icon_03.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.accuracy-icon {
          background-image: url(../../../images/Company/company_icon_01.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    span {
      margin: 8px;
    }
  }
  @include responsive(M) {
    &-icons {
      flex-direction: column;
    }
    &-imgs-item {
      &.imageLeft,
      &.imageRight {
        img {
          width: 300px;
          height: 300px;
          margin: 10px;
        }
      }
    }
  }
}
