.CompanyIntro {
  word-break: keep-all;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 60px;
  padding-bottom: 100px;

  &-title {
    hr {
      display: block;
      width: 100px;
      height: 4px;
      border: none;
      border-radius: 4px;
      background-color: $blue_main;
      margin: 0 auto 20px;
    }

    h1 {
      text-align: center;
      font-size: $font-size-24;
      font-weight: 900;
      color: $blue_main;
    }
  }

  &-Contents {
    @include flexbox(between, end);
    padding: 100px 0;
    margin: 0 auto;
    gap: 60px;

    &-Img {
      width: 500px;
      height: 350px;
      height: auto;
      border-radius: 10px;
    }

    &-Text {
      @include column-flexbox(center, start);
      gap: 50px;

      &-Top {
        font-size: 16px;
        line-height: 1.25;

        p {
          color: $secondary;
          margin-bottom: 10px;
        }

        &-Large {
          display: inline-block;
          font-size: $font-size-24;
          font-weight: 700;

          strong {
            display: inline-block;
            color: $blue_main;
            font-weight: 900;

            padding: 5px 5px 0;
            margin-left: 5px;
            margin-right: 2.5px;
            border-radius: 2px;
            background-color: $blue_bright;
          }
        }
      }

      &-Bottom {
        width: 100%;
        background-color: $background-banner;
        padding: 20px;
        border-radius: 12px;

        h3 {
          font-size: $font-size-14;
          margin-bottom: 10px;
          color: $teritiary;
        }

        p {
          font-size: $font-size-12;
          line-height: 1.5;
          color: $border;
        }
      }
    }
  }

  &-Button {
    @include flexbox;
    gap: 30px;

    button {
      font-weight: 500;
      border-width: 1px;
    }
  }

  @include responsive(T) {
    height: calc(100vh - 60px);

    padding-top: 420px;

    margin-bottom: 400px;

    &-Contents {
      @include column-flexbox;
      margin-bottom: 20px;

      padding: 50px 0;
      gap: 20px;

      &-Img {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin-right: 0px;
        border-radius: 0;
      }

      &-Text {
        @include flexbox;
        gap: 10px;

        &-Top {
          font-size: $font-size-14;
          margin-bottom: 20px;

          &-Large {
            font-size: 24px;
          }
        }

        &-Bottom {
          width: 100%;
          line-height: $line-height-14;

          margin-top: 0px;
        }
      }
    }
  }

  @include responsive(M) {
    height: calc(100vh - 60px);

    padding-top: 100px;

    margin-bottom: 0px;

    &-title {
      hr {
        width: 60px;
        height: 2px;
        margin: 0 auto 15px;
      }

      h1 {
        font-size: 14px;
      }
    }

    &-Contents {
      padding: 40px 0;
      margin-bottom: 0;

      &-Text {
        flex-direction: column;
        text-align: center;

        &-Top {
          &-Large {
            font-size: 18px;
            font-weight: 900;
          }
        }
      }
    }

    &-Button {
      gap: 15px;

      button {
        font-size: 12px;
        border-radius: 6px;
        padding: 12px;
      }
    }
  }
}
