.CompanyTech {
  word-break: keep-all;

  display: flex;
  flex-direction: column;

  max-width: 80%;
  height: 90vh;

  margin: auto;

  @include flexbox;

  &-Title {
    text-align: center;

    font-size: $font-size-24;
    font-weight: 700;
    color: $blue_main;
  }

  &-Text {
    margin-top: 70px;

    font-size: $font-size-24;
    line-height: 1.8em;

    &-Small {
      font-size: $font-size-18;
    }
  }

  @include responsive(M) {
    &-Title {
      margin-top: 220px;
    }
  }
}
