.CompanyIcon {
  word-break: keep-all;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  padding-top: 200px;

  &-title {
    @include flexbox;
    color: $dark;
    font-size: $font-size-24;
    font-weight: 900;
    //스크롤 시
  }

  &-imgs {
    @include flexbox;
    gap: 60px;
    padding-bottom: 200px;

    &-item {
      &.imageLeft,
      &.imageRight {
        img {
          // 본래 이미지 사이즈가 작아서 px로 주어야 크기가 커져용,,
          width: 25vw;
          height: 20vw;
        }
      }
    }
  }

  &-icons {
    @include flexbox;
    gap: 50px;
    background: rgba($blue-main, 0.8);
    padding: 50px 0;

    &-item {
      @include column-flexbox(start, center);
      background-color: $background-banner;
      padding: 40px 24px;
      border-radius: 20px;
      width: 25vw;
      height: 25vw;
      max-width: 320px;
      max-height: 320px;

      &-img {
        width: 7vw;
        height: 7vw;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        margin-bottom: 60px;

        &.small-icon {
          background-image: url(../../../images/Company/company_icon_02.png);
        }

        &.price-icon {
          background-image: url(../../../images/Company/company_icon_03.png);
        }

        &.accuracy-icon {
          background-image: url(../../../images/Company/company_icon_01.png);
        }
      }

      &-info {
        h3 {
          display: block;
          font-size: 18px;
          font-weight: 900;
          margin-bottom: 20px;
        }

        p {
          color: $secondary;
        }
      }
    }
  }

  @include responsive(T) {
    margin-top: 150px;

    &-icons {
      gap: 20px;
      padding: 50px 20px;

      &-item {
        width: 30vw;
        height: 30vw;
        padding: 32px 16px;
        // gap: 20px;

        &-img {
          width: 50vw;
          height: 50vw;
          max-width: 120px;
          max-height: 120px;
          margin-bottom: 30px;
        }

        &-info {
          h3 {
            display: block;
            font-size: 14px;
            margin-bottom: 10px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  @include responsive(M) {
    & {
      gap: 10px;

      margin-top: 120px;
    }
    &-title {
      font-size: $font-size-18;
    }

    &-icons {
      @include column-flexbox();
      gap: 20px;
      padding: 100px 40px;

      &-item {
        padding: 40px 20px;
        width: 100%;
        height: 100%;
        max-width: auto;
        max-height: auto;

        &-img {
          margin-bottom: 20px;
        }

        &-info {
          h3 {
            display: block;
            font-size: 16px;
            margin-bottom: 10px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
    &-imgs {
      gap: 30px;
      &-item {
        &.imageLeft,
        &.imageRight {
          img {
            height: 150px;
            margin: 10px;
          }
        }
      }
    }
  }
}
