.CompanyAlgoChart {
  margin-top: 40px;

  &-Container {
    width: 65vw;
    height: 35vw;
  }

  @include responsive(T) {
    &-Container {
      width: 65vw;
      height: 45vw;
    }
  }

  @include responsive(M) {
    padding: 0px;

    &-Container {
      width: 80vw;
      height: 80vw;

      margin-top: 50px;
    }
  }
}
