.CompanyIcon {
  word-break: keep-all;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  &-title {
    @include flexbox;
    color: $dark;
    font-size: $font-size-24;
    font-weight: 900;
    //스크롤 시
  }
  &-imgs {
    @include flexbox;
    gap: 10px;

    &-item {
      &.imageLeft,
      &.imageRight {
        img {
          // 본래 이미지 사이즈가 작아서 px로 주어야 크기가 커져용,,
          width: 100%;
          height: 300px;
        }
      }
    }
  }
  &-icons {
    @include flexbox;
    gap: 50px;
    &-item {
      flex-direction: column;
      @include flexbox;
      gap: 10px;
      &-img {
        width: 150px;
        height: 150px;
        margin: 10px;
        &.small-icon {
          background-image: url(../../../images/Company/company_icon_02.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.price-icon {
          background-image: url(../../../images/Company/company_icon_03.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.accuracy-icon {
          background-image: url(../../../images/Company/company_icon_01.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    span {
      margin: 8px;
    }
    margin-bottom: 100px;
  }

  @include responsive(M) {
    & {
      gap: 10px;
    }
    &-title {
      font-size: $font-size-18;
    }
    &-icons {
      flex-direction: column;
      &-item {
        &-img {
          width: 80px;
          height: 80px;
        }
      }
    }
    &-imgs {
      gap: 30px;
      &-item {
        &.imageLeft,
        &.imageRight {
          img {
            height: 150px;
            margin: 10px;
          }
        }
      }
    }
  }
}
