.CompanyLED {
  word-break: keep-all;
  width: 100%;
  gap: 50px;

  margin-top: 190px;

  @include flexbox;
  flex-direction: column;
  &-title {
    height: 10vh;
    @include flexbox;
  }

  &-content {
    text-align: center;
    font-size: $font-size-18;
    // 마지막 텍스트와 Footer 사이 공간
    margin-bottom: 300px;
  }
  @include responsive(T) {
    margin-top: 150px;
  }
  @include responsive(M) {
    & {
      margin-top: 120px;
    }
    &-title {
      font-size: $font-size-18;
    }

    &-content {
      font-size: $font-size-14;
    }
  }
}
