.CompanyTech {
  word-break: keep-all;
  background-color: #f9f9f9;
  width: 100%;
  padding: 200px 0;

  @include flexbox;
  gap: 100px;
  flex-direction: column;

  // line-height: 70px;

  &-Title {
    text-align: center;
    font-size: 56px;

    span {
      display: block;
      font-size: $font-size-24;
      font-weight: 700;
      margin: 10px 0;
    }

    &-Flex {
      display: flex;
      justify-content: center;

      div {
        color: $blue_main;
        font-weight: 900;
      }
    }
  }

  &-Text {
    @include flexbox;
    align-items: flex-start;
    gap: 30px;

    &-Box {
      @include column-flexbox(start, center);
      width: 100%;
      max-width: 960px;
      min-height: 200px;
      font-size: 16px;
      background: $blue-bright;
      border-radius: 20px;
      padding: 40px 20px;
      text-align: center;
      gap: 0;

      h3 {
        font-size: $font-size-18;
        margin-bottom: 40px;
        color: $blue-main;
      }

      p {
        font-size: 16px;
        color: $teritiary;
        line-height: 1.625;
      }
    }
  }

  @include responsive(T) {
    & {
      margin-top: 100px;
      line-height: 60px;
      padding: 200px 20px;
      &-Title {
        font-size: 3.5rem;

        span {
          font-size: 2.3rem;
        }
      }

      &-Text {
        gap: 20px;

        &-Box {
          width: 100%;
          min-height: 200px;
          font-size: 14px;
          border-radius: 20px;
          padding: 40px 20px;
          gap: 0;

          h3 {
            font-size: 16px;
            line-height: $line-height-18;
            margin-bottom: 40px;
          }

          p {
            font-size: 12px;
            color: $secondary;
            line-height: 1.625;
          }
        }
      }
    }
  }

  @include responsive(M) {
    & {
      margin-top: 380px;

      line-height: 40px;

      &-Title {
        font-size: 2.5rem;

        span {
          font-size: 1.7rem;
        }
      }

      &-Text {
        flex-direction: column;

        &-Box {
          width: 100%;
          min-height: 120px;
          padding: 40px 20px;
          font-size: $font-size-14;
          h3 {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
