.container {
  // width: 100%;
  // max-width: 1280px;
  // margin: 60px auto 0;
}

// Product
// Tech

// Company
.Company {
  width: 100%;
  margin: 60px auto 0;

  @include responsive(T) {
    padding: 0;
  }
}

// Case
.Case {
  width: 100%;
  margin: 60px auto 0;

  @include responsive(T) {
    padding: 0 20px;
  }

  @include responsive(M) {
    padding: 0 20px;
  }
}

// Service
.Service {
  width: 100%;
  margin: 60px auto 0;

  @include responsive(T) {
    padding: 0 20px;
  }
}
