.footer {
  width: 100%;
  padding: 20px 80px 30px 80px;
  background-color: $background-banner;
  color: $teritiary;

  &-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid $blue-main;
    padding-bottom: 5px;
    margin-bottom: 15px;
  

    .logo {
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
      color: $blue-main;
      // padding-bottom: 10px;

    }


      img {
        width: 30px;
        height: 30px;
        margin: 0 3px;
      }

}

  &-information {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 18px;
      font-weight: 700;
      color: $blue-main;
      margin: 10px 0;
      text-transform: uppercase;
    }

    &-address {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      .address-box {
        p {
          font-size: 14px;
          &:first-child {
            margin-bottom: 7px;
          }
        }
      }
    }

    &-contact {
      width: 30%;
      flex-shrink: 0;
      flex-grow: 0;


      dl {
        display: flex;

        .piquantUrl {
          cursor: pointer;
        }

        &:not(:last-child) {
          margin-bottom: 5px;
        }

        dt {
          font-weight: 700;
          margin-right: 10px;
        }
      }
    }
  }

  @include responsive(T) {
    padding: 20px 40px;

    &-logo {
      font-size: 24px;
      padding: 0;
    }

    &-information {
      flex-direction: column;
      justify-content: flex-start;

      h1 {
        font-size: 16px;
      }

      &-address {
        justify-content: flex-start;
        margin-bottom: 7px;

        .address-box {
          p {
            font-size: 14px;
            &:first-child {
              margin-bottom: 5px;
            }
          }
        }
      }

      &-contact {
        width: 100%;
        flex-shrink: 0;
        flex-grow: 0;

        dl {
          &:not(:last-child) {
            margin-bottom: 5px;
          }

          dt {
            font-weight: 700;
            margin-right: 10px;
          }
        }
      }
    }
  }

  @include responsive(M) {
        padding: 20px 20px 40px 20px;

  }

}
