.header {
  transition: color 350ms ease-in-out, background-color 350ms ease-in-out;

  @include flexbox();
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  // transform: translate3d(0, -60px, 0);
  transition: transform 350ms ease-in-out;

  color: $blue-main;
  z-index: 10;

  border-bottom: 1px solid $border;

  .gnb {
    @include flexbox(between, center);

    width: 100%;
    max-width: 1280px;

    h1 {
      font-size: 24px;
      line-height: 1.625;
    }

    ol {
      display: flex;
      list-style: none;

      li {
        border-bottom: 2px solid transparent;
        transition: border-bottom 350ms ease-in-out;
        overflow: hidden;
        &:hover {
          border-bottom: 2px solid $blue-main;
          font-weight: 800;
        }

        a {
          display: block;
          width: 100%;
          padding: 20px;
          font-size: 15px;
          text-decoration: none;
          font-weight: 600;
        }
      }
    }

    .menu-icon {
      @include flexbox();
      width: 32px;
      height: 32px;
      color: $blue-main;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
    }
  }
  //
  &.blue {
    background-color: transparent;
    backdrop-filter: blur(50px);
    color: $blue-main;
    // transform: translate3d(0, 0, 0);

    .menu-icon {
      color: white;
    }
  }

  @include responsive(T) {
    padding: 0 20px;
  }
}
