.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: $blue-main;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: white;
    font-size: 18px;
    line-height: 1.625;
  }

  ol {
    display: flex;
    list-style: none;

    li {
      &:not(li:last-child) {
        margin-right: 12px;
      }

      a {
        display: block;
        width: 100%;
        color: white;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }
}
