.navbar {
  @include column-flexbox(start, start);

  position: fixed;
  top: 0;
  right: 0;
  z-index: 90;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  background-color: $white;
  overflow: hidden;
  overscroll-behavior: contain;
  transition: transform 300ms ease-in-out;
  transform: translate3d(100%, 0, 0);

  background-color: white;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    @include flexbox(between);
    width: 100%;
    height: 60px;
    position: relative;

    &:hover {
      &::after {
        width: 100px;
      }
    }

    &::after {
      content: '';
      width: 0;
      height: 2px;
      background-color: $blue_main;
      position: absolute;
      bottom: 5px;
      left: 0;
      transition: width 350ms ease-in-out;
    }

    .logo {
      margin: 0;
      width: 100%;
      color: $blue_main;
      // border-bottom: 1px solid $border;

      a {
        padding: 10px 0;
        font-size: 24px;
      }
    }
  }

  .close-button {
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: $border;
  }

  &-nav {
    width: 100%;
    &-list {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &-item {
      width: 95%;
      border-bottom: 1px solid $border;

      position: relative;

      a {
        display: block;
        color: black;
        width: 100%;
        padding: 20px 0;

        .is-active {
          color: pink;
        }
      }

      &::after {
        content: '';
        width: 0;
        height: 2px;
        background-color: $blue_main;
        position: absolute;
        bottom: -1px;
        left: 0;
        transition: all 350ms ease-in-out;
      }

      &:hover {
        border-bottom: 1px solid $border;

        &::after {
          width: 75px;
        }
      }
    }
  }
}
