.Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 200px;

  &-title {
    border-bottom: 2px solid $blue_main;
    padding: 20px;
    margin-bottom: 50px;
  }
}
