.Button {
  cursor: pointer;
  @include flexbox;
  width: 150px;
  height: 40px;
  border: 2px solid $blue_main;
  border-radius: 10px;
  font-weight: 700;
  font-size: $font-size-24;
  background-color: $blue_main;
  color: white;
  &:hover {
    background-color: white;
    color: $blue_main;
  }
}
