.case-wrapper {
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @include responsive(T) {
    padding: 0 20px;
  }
}

.card {
  width: calc((100% - 40px) / 3);
  height: calc(320px * 1.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 32px;
  background-color: #1b76ff;
  padding: 36px 30px;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  color: $white;
  transition: background-color 500ms ease-in-out;
  overflow: hidden;
  white-space: pre-line;

  &:hover,
  &:active {
    background-color: transparent;
    .card-description {
      opacity: 1;
    }
  }

  .image-box {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;

    &::before {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
      content: '';
    }
  }

  &-title {
    font-size: $font-size-24;
    line-height: 1.2;
    font-weight: 700;
  }

  &-description {
    font-size: $font-size-14;
    line-height: 1.625;
    font-weight: 600;
    letter-spacing: 0.01em;
    word-break: keep-all;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }

  @include responsive(T) {
    width: calc((100% - 40px) / 2);
    height: calc(320px * 1.2);
    padding: 36px 30px;

    &-title {
      font-size: 20px;
    }

    &-description {
      font-size: $font-size-14;
      line-height: 1.625;
      font-weight: 400;
    }
  }

  @include responsive(M) {
    width: 100%;
  }
}
// }
