$gap: 20px;

.case {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 200px;

  &-title {
    border-bottom: 2px solid $blue_main;
    padding: 20px;
    margin-bottom: 50px;
  }

  .card {
    width: calc((100% - 40px) / 3);
    height: calc(320px * 1.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 32px;
    background-color: #1b76ff;
    padding: 36px 30px;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    color: $white;
    transition: background-color 500ms ease-in-out;
    overflow: hidden;
    white-space: pre-line;

    &:hover {
      background-color: transparent;
      .card-description {
        opacity: 1;
      }
    }

    .image-box {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-size: cover;
      background-position: center;

      &::before {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        content: '';
      }
    }

    &-title {
      font-size: $font-size-24;
      line-height: 1.2;
      font-weight: 700;
    }

    &-description {
      font-size: $font-size-14;
      line-height: 17px;
      font-weight: 400;
      word-break: keep-all;
      opacity: 0;
      transition: opacity 250ms ease-in-out;
    }
  }
}
