.case-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  @include column-flexbox(between, start);
  width: 100%;
  height: 30vw;
  border-radius: 32px;
  padding: 36px 30px;
  cursor: pointer;
  position: relative;
  color: $white;
  transform: scale(1);
  transition: transform 350ms ease-in-out;
  overflow: hidden;
  white-space: pre-line;

  &:hover,
  &:active {
    transform: scale(1.01);

    .card-description {
      opacity: 1;
    }
  }

  .image-box {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    transition: transform 350ms ease-in-out;

    &::before {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
      content: '';
    }
  }

  &-info {
    @include column-flexbox(between, start);
    width: 100%;
    height: 100%;
  }

  &-title {
    font-size: 2.5vw;
    line-height: 1.2;
    width: 100%;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .case-cate {
    display: block;
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 10px;
  }

  strong {
    width: 100%;
    @include flexbox(end);
  }

  @include responsive(T) {
    padding: 36px 30px;
    min-height: 40vw;
  }

  @include responsive(M) {
    padding: 24px 20px;
    border-radius: 16px;
    min-height: 50vw;

    .case-cate {
      display: block;
      font-weight: 700;
      margin-bottom: 5px;
    }

    &-title {
      font-size: 16px;
    }
  }
}
// }
