.case-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  @include column-flexbox(between, start);
  width: 100%;
  height: 360px;
  display: flex;
  border-radius: 32px;
  color: $blue-main;
  background: $blue-main;
  padding: 36px 30px;
  cursor: pointer;
  position: relative;
  color: $white;
  transform: scale(1);
  transition: transform 350ms ease-in-out;
  overflow: hidden;
  white-space: pre-line;

  &:hover,
  &:active {
    transform: scale(1.01);

    .card-description {
      opacity: 1;
    }
  }

  .image-box {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    transition: transform 350ms ease-in-out;

    &::before {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
      content: '';
    }
  }

  &-info {
    @include column-flexbox(between, start);
    width: 100%;
    height: 100%;
  }

  &-title {
    font-size: $font-size-24;
    font-size: 30px;
    line-height: 1.2;
    width: 100%;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .case-cate {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
  }

  strong {
    width: 100%;
    @include flexbox(end);
  }

  &-description {
    font-size: $font-size-14;
    line-height: 1.625;
    font-weight: 600;
    letter-spacing: 0.01em;
    word-break: keep-all;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }

  @include responsive(T) {
    width: calc((100% - 40px) / 2);
    height: calc(320px * 1.2);
    padding: 36px 30px;

    &-title {
      font-size: 20px;
    }

    &-description {
      font-size: $font-size-14;
      line-height: 1.625;
      font-weight: 400;
    }
  }

  @include responsive(M) {
    width: 100%;
  }
}
// }
