.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 50px auto;

   
        // margin: 0 5px;

        .num {
            padding: 0 5px;
            margin: 0 5px;
            cursor: pointer;

            &.active {
                font-weight: 700;
                color: $blue_main;
            }
        }

        button {
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 0;
  font-size: 1rem;

//   &:hover {
//     background: tomato;
//     cursor: pointer;
//     transform: translateY(-2px);
//   }

//   &[disabled] {
//     background: grey;
//     cursor: revert;
//     transform: revert;
//   }

&[aria-current] {
    // background: deeppink;
    // font-weight: bold;
    // cursor: revert;
    // transform: revert;

    font-weight: 700;
    color: $blue_main;
  }
        }
    

    .icon {
        width: 35px;
        height: 35px;
        margin: 15px;
        border: 1px solid $background;
        border-radius: 5px;
        color: $teritiary;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: $background;
        }
    }
}