.Tab {
  width: 100%;
  max-width: 960px;

  &-header {
    width: 100%;
    margin-bottom: 40px;

    .menu-list {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: 1px solid rgba($border, 0.2);
      transition: all 350ms ease-in-out;
      border-radius: 12px;
      // margin: 0 20px;

      &:not(:last-child) {
        margin-right: 40px;
      }

      &.is-active {
        border: 1px solid transparent;
        background-color: $blue-bright;
        color: white;
        button {
          font-weight: bold;
          color: $blue-main;
        }
      }

      button {
        display: block;
        min-height: 68px;
        font-size: 18px;
        color: $border;
        padding: 20px;
      }
    }
  }

  &-content {
    width: 100%;
    min-height: 500px;
    border-radius: 30px;
    // background: rgba($blue-light, 0.2);
  }

  @include responsive(T) {
    &-header {
      .menu-item {
        &:not(:last-child) {
          margin-right: 10px;
        }

        button {
          font-size: 16px;
          padding: 12px 20px;
          height: auto;
        }
      }
    }
  }
}
