.TableItem {
  @include column-flexbox(center, start);

  width: 100%;
  max-width: 960px;
  padding: 20px 0;
  gap: 50px;

  .back {
    padding: 10px 20px 10px 0;
    font-weight: 600;
  }

  &-info {
    @include flexbox(start, center);
    column-gap: 50px;
    min-height: 500px;

    .image-box {
      display: block;
      width: 50vw;
      height: 100%;
      overflow: hidden;
      border-radius: 10px;

      img {
        display: block;
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        object-position: center top;
      }
    }

    .text-group {
      @include column-flexbox(between, between);

      h1 {
        font-size: 20px;
      }
    }
  }

  &-pagination {
    @include column-flexbox(start, start);
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1.5px solid gray;

    .pagination {
      @include flexbox(start);
      width: 100%;
      padding: 0 20px;
      font-size: 15px;

      &:first-child {
        border-bottom: 1px solid #aaa;
      }

      span {
        display: block;
        margin-right: 20px;
        font-weight: 700;
      }

      a {
        display: block;
        margin: 30px 0;
        transition: all 350ms ease-in-out;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}
