.TableItem {
  @include column-flexbox(center, start);

  width: 100%;
  max-width: 960px;
  padding: 20px 0;
  gap: 50px;

  .back {
    padding: 20px;
    font-weight: 600;

    &:hover,
    &:active {
      background-color: $background-banner;
    }
  }

  &-info {
    @include flexbox(start, end);
    column-gap: 50px;

    .image-box {
      display: block;
      width: 50vw;
      height: 100%;
      overflow: hidden;
      border-radius: 10px;

      img {
        display: block;
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        object-position: center top;
      }
    }

    .text-info {
      @include column-flexbox(between, start);
      flex-grow: 0;

      &-title {
        margin-bottom: 50px;

        h1 {
          font-size: 20px;
          margin-bottom: 10px;
          font-weight: 600;
          color: $primary;
        }
      }

      &-date {
        font-size: 14px;
        color: $border;
      }

      &-desc {
        font-size: 16px;
        line-height: 1.625;
        word-break: keep-all;
        margin-bottom: 20px;
      }
    }
  }

  &-pagination {
    @include column-flexbox(start, start);
    width: 100%;
    // border-top: 1px solid gray;
    // border-bottom: 1.5px solid gray;

    .page-item {
      @include flexbox(start);
      width: 100%;
      padding: 0 20px;
      font-size: 15px;
      background-color: $background-banner;
      border-radius: 12px;
      margin-bottom: 10px;

      &:first-child {
        // border-bottom: 1px solid #aaa;
      }

      span {
        display: block;
        min-width: 30px;
        margin-right: 20px;
        font-weight: 700;
      }

      a {
        display: block;
        width: 100%;
        padding: 30px 0;
        transition: all 350ms ease-in-out;
      }
    }

    .disabled {
      color: $border;
      pointer-events: none;
    }
  }

  @include responsive(T) {
    gap: 0;
    .back {
      margin-bottom: 30px;
    }

    &-info {
      flex-direction: column;
      height: auto;

      .image-box {
        width: 100%;
        margin-bottom: 50px;
      }

      .text-info {
        @include column-flexbox(between, between);

        &-title {
          font-size: 20px;
          margin-bottom: 30px;
        }

        &-date {
        }

        &-desc {
          margin-bottom: 50px;
        }
      }
    }
  }
}
